.container {
border: 1px solid green;
display: flex;
gap: 40px;
align-items: center;
justify-content: center;
}


.s1 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
}

.s2 {
    width: 50px;
    height: 50px;
    border: 1px solid blue;
}

.s3 {
    width: 50px;
    height: 50px;
    border: 1px solid blueviolet;
}
.s4 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}